body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-block{
    border: 1px solid #0da2d5;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.wrapper {
    display: flex;
}
.side{
    margin: 10px;
}
.btn{
    width: 90vw;
    border-radius: 10px;
    background-color: #0da2d5;
    border:none;
    height: 33px;
    color: aliceblue;
}